<ion-header>
  <ion-navbar color="primary">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Tarefas</ion-title>
    <ion-buttons showWhen="ios" end>
      <button ion-button icon-only (click)="newTask()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar color="primary">
    <ion-segment [(ngModel)]="section">
      <ion-segment-button selected="true" value="my">
        Minhas
      </ion-segment-button>
      <ion-segment-button value="by">
        Que abri
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- FAKE -->
  <ion-segment *ngIf="!tasks" class="fake">
    <ion-segment-button value="fake"></ion-segment-button>
    <ion-segment-button value="fake"></ion-segment-button>
  </ion-segment>
  <!-- -->
  
  <ion-segment *ngIf="tasks" [(ngModel)]="status">      
    <ion-segment-button value="opened">
      Abertas
    </ion-segment-button>
    <ion-segment-button value="closed">
      Entregues
    </ion-segment-button>
  </ion-segment>

  <!-- FAKE -->
  <ion-list *ngIf="!tasks" class="fake">
    <ion-item *ngFor="let i of [1,2,3]">
      <h3></h3>
      <div class="progress"></div>
      <p></p>
      <ion-row>
        <ion-col>
          <p></p>
        </ion-col>
        <ion-col>
          <p></p>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
  <!--  -->
  <div [ngSwitch]="section">
    <div selected="true" *ngSwitchCase="'my'">
      <!-- MY -->
      <div [ngSwitch]="status" *ngIf="tasks || tasksClosed">
        <div selected="true" *ngSwitchCase="'opened'">
          <ion-list>
            <ion-item-sliding #item *ngFor="let task of tasks">
              <ion-item (click)="showTask(task)">
                <div *ngIf="task.playing" class="top icon"><ion-icon name="timer"></ion-icon></div>
                <h3>{{ task.code }} - {{task.title }} - {{ task.project.name }}</h3>
                <div class="progress"><div [ngClass]="(task.estimate_min >= task.worked_min)  ? 'bar active' : 'bar danger'" [ngStyle]="{'width': ((task.worked_min/task.estimate_min) * 100)+'%'}"></div></div>
                <ion-row>
                  <ion-col>
                    <p class="description"><ion-icon name="folder-open"></ion-icon> {{ task.project.name }}</p>
                  </ion-col>
                  <ion-col text-end>
                    <p class="description"><ion-icon name="calendar" ios="ios-calendar-outline"></ion-icon> {{ task.estimate_at | date: 'dd/MM' }}</p>
                  </ion-col>
                </ion-row>
              </ion-item>
              <ion-item-options side="right">
                <button ion-button (click)="transfer(task)"> <ion-icon name="swap"></ion-icon>
                  Transferir</button>
                <button ion-button color="danger" (click)="delete(task)"><ion-icon name="trash"></ion-icon>
                  Apagar</button>
              </ion-item-options>
            </ion-item-sliding>
          </ion-list>
          <div padding *ngIf="tasks && tasks.length === 0">
            <p class="center light">Nenhuma tarefa aberta</p>
          </div>
        </div> 
        <div *ngSwitchCase="'closed'">
          <ion-list>
            <ion-item *ngFor="let task of tasksClosed" (click)="showTask(task)">
              <h3>{{ task.code }} - {{task.title }}</h3>
              <div class="progress"><div [ngClass]="(task.estimate_min <= task.worked_min ) ? 'bar active' : 'bar danger'" [ngStyle]="{'width': ((task.worked_min/task.estimate_min) * 100)+'%'}"></div></div>
              <ion-row>
                <ion-col>
                  <p class="description"><ion-icon name="folder-open"></ion-icon> {{ task.project.name }}</p>
                </ion-col>
                <ion-col text-end>
                  <p class="description"><ion-icon name="calendar" ios="ios-calendar-outline"></ion-icon> {{ task.estimate_at | date: 'dd/MM' }}</p>
                </ion-col>
              </ion-row>
            </ion-item>
          </ion-list>
          <div padding *ngIf="!tasksClosed">
            <p class="center light">Nenhuma tarefa encerrada</p>
          </div>
        </div>
      </div>
    </div>
    <div *ngSwitchCase="'by'">
      <p class="center light">Nenhuma aberta por mim</p>
    </div>
  </div>
  
  <ion-fab showWhen="android" bottom right>
    <button (click)="newTask()" ion-fab><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
