.fake {
    h3 {
        background: map-get($colors , light);
        height: 26px;
        width: 40%;
    }
    p {
        background: map-get($colors , light);
        height: 10px;
        width: 100%;
    }
    ion-segment-button {
        width: 100%;
    }
}

ion-icon {
    &[class*="custom-chair"] {
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        width: 1em;
        height: 1em;
    }

    &[class*="custom-chair"] {
        mask-image: url(../assets/imgs/chair.svg);
    }
}

img.mid {
    width: 50%;
}
img.center {
    margin-left: 20%;
}
ion-toolbar.toolbar-md-primary ion-segment-button {
    color: #fff !important;
}
ion-toolbar.toolbar-ios-primary ion-segment-button {
    color: #fff !important;
}
p.white {
    color: #fff;
}